In [4]:
import yfinance as yf

In [5]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)
historical_data = ticker.history(start = "1999-01-01", end = "2022-12-31", interval = "1d") #fetching the historical data AAPl from 1999 to 2023

In [7]:
historical_data  = ticker.history(period="7d", interval="1m") #fetching the historical data for AAPL for the last 1 day with 1 minute interval

In [8]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-04-18 09:30:00-04:00,168.000000,168.414993,167.949997,168.309998,1322394,0.0,0.0
2024-04-18 09:31:00-04:00,168.268204,168.300003,167.979996,168.059998,161432,0.0,0.0
2024-04-18 09:32:00-04:00,168.059998,168.440002,168.029999,168.190002,170887,0.0,0.0
2024-04-18 09:33:00-04:00,168.210007,168.429993,168.050003,168.419998,164865,0.0,0.0
2024-04-18 09:34:00-04:00,168.440002,168.639999,168.389999,168.625000,195680,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-26 15:55:00-04:00,169.550003,169.695404,169.399994,169.404999,337319,0.0,0.0
2024-04-26 15:56:00-04:00,169.404999,169.410004,169.250000,169.264999,272579,0.0,0.0
2024-04-26 15:57:00-04:00,169.270004,169.300003,169.190002,169.229202,339862,0.0,0.0
2024-04-26 15:58:00-04:00,169.229996,169.320007,169.225006,169.315903,321011,0.0,0.0
2024-04-26 15:59:00-04:00,169.315002,169.377502,169.190002,169.289993,1458356,0.0,0.0