# URL for CCTX Fetching
- https://www.youtube.com/watch?v=0qBrOBeRUDQ&t=291s

In [7]:
import ccxt
import pandas as pd
getattr(ccxt,'binance')()
binance = ccxt.binance()

In [9]:
def getprices(exchange, symbol):
    inst = getattr(ccxt, exchange)()
    df = pd.DataFrame(inst.fetchOHLCV(symbol, '1h', limit = 1000000))
    df.columns = ['Time', 'Open', 'High','Low','Close', 'Volumne']
    df.set_index('Time',inplace=True)
    df.index = pd.to_datetime(df.index,unit = 'ms')
    df = df.astype(float)
    return df
getprices('binance','BTC/USDT')

                         Open      High       Low     Close     Volumne
Time
2024-03-22 19:00:00  63745.84  64126.09  63440.29  63866.93  1913.16114
2024-03-22 20:00:00  63866.94  63978.86  63355.85  63501.66  1145.08174
2024-03-22 21:00:00  63501.67  63517.15  62260.00  62974.00  2900.41449
2024-03-22 22:00:00  62974.00  63236.03  62553.96  63022.00  1830.43155
2024-03-22 23:00:00  63022.01  63812.00  62985.00  63796.64  1123.71188
...                       ...       ...       ...       ...         ...
2024-05-03 06:00:00  59522.68  59574.60  59233.30  59254.74   941.00457
2024-05-03 07:00:00  59254.75  59423.00  59061.63  59190.74  1367.38406
2024-05-03 08:00:00  59190.74  59388.00  59136.49  59225.99   591.24312
2024-05-03 09:00:00  59225.99  59575.48  59196.11  59481.12   748.34076
2024-05-03 10:00:00  59481.11  59486.63  59274.54  59350.01   278.72601

[1000 rows x 5 columns]